
pandas
numpy
matplotlib
sphinx
sphinx-prompt
sphinx_copybutton
sphinx_toggleprompt
sphinx_rtd_theme
sphinx-gallery
sphinx_issues
scipy
tensorflow==2.7
ai4water
protobuf==3.19.1
numpy==1.21.6
easy_mpl
SeqMetrics
git+https://github.com/hyex-research/AquaFetch.git@dev